.sign-up.small-12.medium-8.large-4.small-centered.columns
  %h2
    Edit a question
  = form_for @question do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit 'Edit question', class: "button tiny radius"
