.created_questions
  %h1
    Your Questions
  - if current_user.created_questions.any?
    - @questions.each do |question|
      %li.block
        = question.question
        = link_to 'Show', question_path(question)
  -else
    %p
      You haven't created any questions, why not try creating one?
      %br
      =link_to 'Create a question', new_question_path