%h1 
  Question

%h2
  = @question.question

%p
  Created by:

%h1
  Answers

- @answer_choices.each do |answer|
  = answer.answer
  = link_to 'Delete', answer_choice_path(answer), method: :delete, data: {confirm: "Are you sure"}

%br
%br
=link_to 'Add Answers', new_answer_choice_path(question_id: @question.id)