.sign-up.small-12.medium-8.large-4.small-centered.columns
  %h2
    Add players to
    = @participation.game.name

  = form_for [@participation.game] do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit 'Add players', class: "button tiny radius"