- @quizzes.each do |quiz|
  %h2
    = quiz.name
  %br
  = link_to 'Show', quiz_path(quiz.id)
  = link_to 'Delete', quiz_path(quiz), method: :delete, data: {confirm: "Are you sure"}
  / = link_to 'Play game', game_path(quiz.id)
