.created_quizzes
  %h1
    Your quizzes
  
  - if current_user.created_quizzes.any?
    - @quizzes.each do |quiz|
      %li.block
        %h2
          = quiz.name
        %br
        = link_to 'Show', quiz_path(quiz.id)
        = link_to 'Delete', quiz_path(quiz), method: :delete, data: {confirm: "Are you sure"}
  - else
    %p
      You haven't created any quizzes, why not try creating one?
      %br
      = link_to 'Create a quiz', new_quiz_path