.sign-up.small-12.medium-8.large-4.small-centered.columns
  %h2
    Choose a question to add

  - @questions.each do |question|
    = form_for @quiz_question do |f|
      = f.hidden_field :quiz_id
      = render partial: 'form', locals: { f: f, question: question }
      = f.submit 'Add question', class: "button tiny radius"