.home.row
  %h1.typewriter
    Quizzery!
  %p.sign-up.small-12.medium-8.large-4.small-centered.columns
    Welcome to Quizzery, the app to fulfil all your quizzing needs. Log in or sign up and start creating your own quizzes for you and your friends to enjoy for hours.