.game_results.row
  %h1 Results
  - @games.each do |game|
    %h2
      Results for:
      = game.name
    %p
      Game status
      = game.status
    %ul.large-block-grid-3
      - game.participations.each do |player|
        %li
          = player.user.nick_name
          / got:
          / = player.current_score
          / out of
          / = player.game.quiz.questions.count