.sign-up.small-12.medium-8.large-4.small-centered.columns
  %h2
    Create a game
  = form_for @game do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit 'Create game', class: "button tiny radius"