%h1
  = @game.name

%h2
  =@game.creator.try(:nick_name)

- if @game.playing?
  = render 'game_playing'
- elsif @game.finished?
  %p
    This game has finished - you didn't win!
- else
  = render 'waiting_for_start'

/ if game playing/
/   if @participation has answered game current question
/     please refresh
/   else
/     show question and let answer
/   end
/ else/
/   please wait/
/ end/