body {
  // background:#6600cc;

  .container {
    @include outer-container;
    .left_half {
      @include span-columns(4);
    }
    .right_half {
      @include span-columns(4);
    }

  }
  .logo {
    border-radius:15px;
    margin-top:1em;
    width:400px;
  }

}