body {

  .container {
    @include outer-container;
    .form {
      @include span-columns(6);
      @include shift(3);
      background:$box-color;
      border-radius:$box-radius;
      padding:$box-padding;
      text-align:center;
    }
    .prof_details {
      @include span-columns(6);
      @include shift(3);
      background:$box-color;
      border-radius:$box-radius;
      padding:$box-padding;
      text-align:center;
      float:none;
    }
  }
  .game_invites {
    @include outer_container;
    background:$box-color;
    border-radius:$box-radius;
    padding:$box-padding;
    margin-top: 1em;
    h2 {
      text-align:center;
    }
    .invites {
      @include span-columns(3);
      @include omega(4n);
      border:1px solid black;
      float:none;
      display: inline-block;
    }
  }
  .game_results, .created_questions, .created_quizzes{
    @include outer_container;
    background:$box-color;
    border-radius:$box-radius;
    padding:$box-padding;
    margin-top: 1em;
    h1, h2 {
      text-align:center;
    }
    .results, .questions, .quizzes {
      @include span-columns(3);
      @include omega(4n);
      border:1px solid black;
      float:none;
      display:inline-block;
    }
  }
  
  img {
    border-radius:$box-radius;
  }
  .blank-avatar {
    height:150px;
    width:150px;
  }
  .logo {
    border-radius:15px;
    margin-top:1em;
    width:400px;
  }

  .button{
    background:$button-color;
    border-radius:$button-radius;
    padding:$box-padding;
    color:white;
  }
}