
h1 {
  text-align:center;
}
body {

}
footer {
   position:fixed;
   left:0;
   bottom:0;
   height:30px;
   width:100%;
   text-align:center;
   color:white;
   background-color:#333333;
}
.small-4, .small-6, .small-8 {
  @include border-radius(15px);
  background:rgba(0, 0, 0, 0.5);
  padding:10px;
}
.username {
  display: block; 
  color: white;
  padding: 0 15px; 
  line-height: 45px;
  font-size:14px;
}
label {
  color:white;
}
.profile-pic {
  @include border-radius(15px);
  text-align: center;
}
.user-image {
  @include border-radius(15px);
}
.center {
  text-align:center;
}